:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

img {
  width: 100%
}

/* background color divs */
.section-plum {
  background-color: var(--plum);
}

.section-dkblue {
  background-color: var(--dkblue);
}

.gradient {
  background: rgb(255,23,228);
  background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
  height: 2px;
}

/* intro styles */
#intro {
  padding: 4rem 1rem 10rem 1rem;
  background-color: var(--black);
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

/* project styles */

#projects {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: clac(2.5rem * 1.5);
  padding-bottom: 4rem;
}

#projects a {
  color: var(--aqua);
  font-size: 2rem;
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: .5rem 0 0 0;
}

.tech-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 0 2rem;
  font-size: 1rem;
}

.black-box {
  background-color: var(--black);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

.project-image-left {
  padding: 1rem;
  border-radius: 10px;
  border-color: var(--aqua);
  border-top: .5px solid var(--aqua);
  border-left: .5px solid var(--aqua);
  margin: 1rem;
}

.project-image-right {
  padding: 1rem;
  border-radius: 10px;
  border-top: .5px solid var(--aqua);
  border-right: .5px solid var(--aqua);
  margin: 1rem;
}

/* contact styles */
#contact {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

#contact a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--mono);
}

#contact a:hover,
#contact [class*="fa-"]:hover {
  color: var(--white);
  font-family: var(--mono);
}

#contact p {
  font-size: 75%;
}

/* navbar styles */
nav {
  font-family: var(--mono);
  font-size: 80%;
  background-color: var(--black);
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--magenta);
}

.button {
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

/* footer styles */
footer {
  background-color: var(--black);
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 4rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

footer li:first-child {
  flex-basis: 100%;
  text-align: center;
}

footer li:last-child {
  flex-basis: 100%;
  text-align: center;
}

footer [class*="fa-"] {
  font-size: 225%;
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
  }
  .text {
    order: 2;
    padding-left: 1rem;
  }
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
